<%-include('partials/header') %>

<%-include('partials/navbar') %>

<div class="container-fluid">
    <div class="bg-1 mb-1" class="row ">
        <div class="col">
            <h1 class="t-stroke t-shadow" class="text-center">Lista de Posteos</h1>
            <br><br><br>
        </div>
    </div>
    <div class="row col">
        <main class="d-flex flex-column gap-0.5" id="lista-posteos">
            
        </main>

    </div>
</div>
<br><br>

        <script src="/js/home.js"></script>
<%-include('partials/footer') %>